* {
  margin: 0;
  padding: 0;
}

nav {
  display:flex;
  padding-top: 12px;
 
}
.Top Nav{
   background-color: rgb(143, 131, 138);
   align-items: center;
   justify-content: center;
}
nav ul {
  width: 200px;
  margin: 10px 100px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}


.content {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
}

.center form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  padding-bottom: 20px;
  width: 80%;
}

label > span {
  display: none;
}

input {
  height: 20px;
  width: 100%;
}

button {
  padding: 72px 150px;
  border-radius: 10px;
  border: none;
  width: 100px;
  background-color: rgb(85, 51, 51);
  color: white;
  margin-bottom: 10px;
}
.button:hover {
  background-color: rgb(143, 131, 138);
  color: white;
}

/* Footer styles */
footer {
  position:absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-content: center;
  background-color: rgb(143, 131, 138);
  color: #fff;
  text-align: center;
  
}
.Author {
  background-color: rgb(85, 51, 51);
  color: #fff;
  align-items: left;
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: 10px;
  text-align: left;
}

.Copywrite {
  background-color:rgb(85, 51, 51);;
  color: #fff;
  align-items: end;
  text-align: right;
}
.Bottom Nav {
  background-color: rgb(85, 51, 51);;
  color: #fff;
  text-align: center;
  font-size: 100px;
  display: block;
  justify-content: center;
  align-items: center;
}

a:link { color: #fff; 
  font-size: 20px;
  font-weight: bolder;
  text-align:center;
  display: block;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center items */
}
a:visited { color: black; }